<div class="six columns offset-by-two">

<h4 class="header">Edit <%= resource_name.to_s.humanize %></h4>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>


  <%= f.text_field :name, :autofocus => true, placeholder: "Name" %>

  
  <%= f.email_field :email, placeholder: "Email" %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off", placeholder: "Password" %>

  <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>

  <i>(Current password to confirm your changes)</i><br />
  <%= f.password_field :current_password, placeholder: "Current Password" %>

  <div><%= f.submit "Update" %></div>
<% end %>

<h4>Cancel my account</h4>

<p>Unhappy with Archived? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>

</div>