<div class="twelve columns offset-by-two">
	<table class="links-table">
		<% @links.each_with_index do |p, index| %>
		<tbody>

			<tr>
				<td class="links-numbering">
					<%= link_to votes_path(:vote => {:link_id => p.id, :up => true}), :method => :post do%>
						<!-- <i class="icon-plus"></i> -->
						<% end %>
					<%= index + @offset + 1 %>.
				</td>
				<td>
					<span class="links-title black-link">
						<%= link_to p.title.upcase, p.url %>
					</span>

					<span class="links-divider">
						| 
					</span>

					<span class="links-domain">
						<%= URI.parse(p.url).host.gsub(/\Awww\./, "")  %>
					</span>

				</td>

			</tr>
			<tr>
				<td>

				</td>
				<td class="links-user">
					<span class="">

						<%= time_ago_in_words(p.created_at).
          gsub(/^about /, "") %> ago by
						<%= link_to User.find(p.user_id).name, '#' %>
					</span> 

					<span class="">
						- <%= p.comments.all.count %> <%= link_to "comments", p %>
					</span> 
				</td>
			</tr>

			<% end %>
		</tbody>
	</table>


	<div class="paginate">
		<%= will_paginate @posts, page_links: false, next_label: "MORE", previous_label: ""  %>
	</div>