<div class="twelve columns offset-by-two">
	<table class="links-table">
		<% @links.each_with_index do |p, index| %>
		<tbody>

			<tr>
				<td class="links-numbering">
					<%= index + @offset + 1 %>.
				</td>
				<td>
					<span class="links-title">
						<%= link_to p.title.upcase, p.url %>
					</span>

					<span class="links-divider">
						| 
					</span>

					<span class="links-domain">
						<%= URI.parse(p.url).host.gsub(/\Awww\./, "")  %>
					</span>

				</td>

			</tr>
			<tr>
				<td>

				</td>
				<td class="links-user">
					<span class="">
						Submitted by <%= link_to User.find(p.user_id).name, '#' %>
					</span> 

					<span class="">
						- <%= link_to "comments", p %>
					</span> 
				</td>
			</tr>

			<% end %>
		</tbody>
	</table>


	<div class="paginate">
		<%= will_paginate @posts, page_links: false, next_label: "More", previous_label: ""  %>
	</div>