<div class="six columns offset-by-two">
<h4 class="header">Submit a Link</h4>

<%= form_for(@link) do |f| %>
	<%= render 'shared/links_error_messages' %>
	
	<%= f.text_field :url, :autofocus => true, placeholder: "URL - Include http://" %>

	
	<%= f.text_field :title, placeholder: "Title" %>

	
	<%= f.text_area :comment, rows: "4", placeholder: "Comment" %>

	<div>
	<%= f.hidden_field :user_id, value: current_user.id %>
	</div>	


	<br />
	<div><%= f.submit "Submit", class: "button" %></div>
<% end %>


</div>