<div class="twelve columns offset-by-two">

	<span class="links-title show-link black-link">
		<%= link_to @link.title.upcase, @link.url %>
	</span>

	<span class="links-divider show-link">
		| 
	</span>

	<span class="links-domain show-link">
		<%= link_to URI.parse(@link.url).host.gsub(/\Awww\./, "") , @link.url %>
	</span>
	<div class="">
		<%= time_ago_in_words(@link.created_at).
          gsub(/^about /, "") %> ago by
		<%= User.find(@link.user_id).name %>
	</div>

	<div class="links-comment">
		<%= @link.comment %>
	</div>


	<%= render 'comments/comment_form' %>
	

	<%= render 'comments/comment_list' %>