<!DOCTYPE html>
<html>
<head>
	<title>ARCHIVED/NEWS</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= favicon_link_tag "/favicon.ico" %>
	<!-- mobile specific meta tab -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=1">
</head>

<body>
	<%= render 'layouts/header' %>
	<div class="container custom-body">
			<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "flash") %>
			<% end %>
		<div class="sixteen columns top-offset">
			

			<%= yield %>

		</div>
	</div>
	<%= render 'layouts/footer' %>
</body>

</html>
